<!DOCTYPE html>
<html>
    <head>
        <title>Doctors</title>
        <div th:replace="components :: div.link"></div>
    </head>
    <body>
        <div th:replace="components :: nav"></div>
        <div class="container-fluid text-center m-3 w-75 mx-auto">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Specialty</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="doctor: ${doctors}">
                    <td th:text="${doctor.user.first_name} "></td>
                    <td th:text="${doctor.user.last_name} "></td>
                    <td th:text="${doctor.specialty.label} "></td>
                    <td th:text="${doctor.user.email} "></td>
                    <td><a th:href="@{'/doctors/delete/' + ${doctor.user.email}}" onClick="window.location.reload();">delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>