<html>
    <head>
        <title>Home</title>
        <div th:replace="components :: div.link"></div>
    </head>
    <body class="align-items-center">
        <div th:replace="components :: nav"></div>
        <div class="container-fluid text-center m-3 w-75 mx-auto">
            <div sec:authorize="isAuthenticated()">
                Welcome, <span th:text="${user.first_name}"></span> <span th:text="${user.last_name} "></span>!
            </div>
            <div sec:authorize="isAnonymous()">
                Welcome! Please register or log in!
            </div>
    </div>
    </body>
</html>
