<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <div th:replace="components :: div.link"></div>
</head>
<body>
    <div th:replace="components :: nav"></div>

    <div class="container-fluid text-center m-3 w-75 mx-auto">
        <div th:if="${notAvailableTime}">
            <p>The selected time (<span th:text="${notAvailableTime.label}"></span>) is not available!</p>
        </div>
    Create appointment:
        <form th:method="POST" th:action="@{/appointments/add}">
        <label for="doctor">Doctor</label>
        <select id="doctor" th:name="doctor" required>
            <span th:each="doc : ${doctors}">
                <span th:if="${selectedDoctor}">
                    <option th:if="${doc.user.userId == selectedDoctor.user.userId}"
                            th:value="${doc.user.email}" th:text="${doc.user.last_name} + ' ' + ${doc.user.first_name} + ' (' + ${doc.specialty.label} + ')'" selected="selected">
                    </option>
                    <option th:unless="${doc.user.userId == selectedDoctor.user.userId}"
                            th:value="${doc.user.email}" th:text="${doc.user.last_name} + ' ' + ${doc.user.first_name} + ' (' + ${doc.specialty.label} + ')'">
                    </option>
                </span>
                <span th:unless="${selectedDoctor}">
                    <option th:value="${doc.user.email}" th:text="${doc.user.last_name} + ' ' + ${doc.user.first_name} + ' (' + ${doc.specialty.label} + ')'">
                    </option>
                </span>
            </span>
        </select>
        <br>
        <label for="date">Date</label>
        <span th:if="${selectedDate}">
            <input id="date" th:name="date" type="date"  th:value="${selectedDate}" th:min="${today}" required>
        </span>
        <span th:unless="${selectedDate}">
            <input id="date" th:name="date" type="date"  th:value="${today}" th:min="${today}" required>
        </span>
        <br>
        <label for="time">Time</label>
        <select id="time" th:name="time" required>
            <option th:each="hour : ${T(web.clinicApp.entity.Hour).values()}"
                    th:value="${hour}" th:text="${hour.label}">
            </option>
        </select>
        <br>
        <input type="submit" value="Create">
    </form>
    </div>
</body>
</html>